-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: StudentVerificationDB
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `finalimages`
--

DROP TABLE IF EXISTS `finalimages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `finalimages` (
  `finalImageId` int NOT NULL AUTO_INCREMENT,
  `studentId` varchar(50) DEFAULT NULL,
  `imageUrl` varchar(500) DEFAULT NULL,
  `analysisId` int DEFAULT NULL,
  PRIMARY KEY (`finalImageId`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `finalimages`
--

LOCK TABLES `finalimages` WRITE;
/*!40000 ALTER TABLE `finalimages` DISABLE KEYS */;
/*!40000 ALTER TABLE `finalimages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imageanalysis`
--

DROP TABLE IF EXISTS `imageanalysis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imageanalysis` (
  `analysisId` int NOT NULL AUTO_INCREMENT,
  `qualityStatus` varchar(20) DEFAULT NULL,
  `conditionResult` varchar(50) DEFAULT NULL,
  `issuesFound` json DEFAULT NULL,
  `studentId` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`analysisId`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imageanalysis`
--

LOCK TABLES `imageanalysis` WRITE;
/*!40000 ALTER TABLE `imageanalysis` DISABLE KEYS */;
/*!40000 ALTER TABLE `imageanalysis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marks_10th`
--

DROP TABLE IF EXISTS `marks_10th`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marks_10th` (
  `studentId` varchar(50) NOT NULL,
  `tamil` varchar(10) DEFAULT NULL,
  `english` varchar(10) DEFAULT NULL,
  `maths` varchar(10) DEFAULT NULL,
  `science` varchar(10) DEFAULT NULL,
  `social` varchar(10) DEFAULT NULL,
  `total` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`studentId`),
  CONSTRAINT `marks_10th_ibfk_1` FOREIGN KEY (`studentId`) REFERENCES `student` (`studentId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marks_10th`
--

LOCK TABLES `marks_10th` WRITE;
/*!40000 ALTER TABLE `marks_10th` DISABLE KEYS */;
INSERT INTO `marks_10th` VALUES ('2025-001','92','88','95','90','89','454'),('2025-002','94','90','93','92','91','460'),('2025-003','88','85','94','89','90','446'),('2025-004','86','84','90','88','87','435'),('2025-005','95','92','98','94','93','472'),('2025-006','90','88','95','92','87','452');
/*!40000 ALTER TABLE `marks_10th` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marks_12th`
--

DROP TABLE IF EXISTS `marks_12th`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marks_12th` (
  `studentId` varchar(50) NOT NULL,
  `tamil` varchar(10) DEFAULT NULL,
  `english` varchar(10) DEFAULT NULL,
  `maths` varchar(10) DEFAULT NULL,
  `physics` varchar(10) DEFAULT NULL,
  `chemistry` varchar(10) DEFAULT NULL,
  `total` varchar(10) DEFAULT NULL,
  `cutoff` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`studentId`),
  CONSTRAINT `marks_12th_ibfk_1` FOREIGN KEY (`studentId`) REFERENCES `student` (`studentId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marks_12th`
--

LOCK TABLES `marks_12th` WRITE;
/*!40000 ALTER TABLE `marks_12th` DISABLE KEYS */;
INSERT INTO `marks_12th` VALUES ('2025-001','90','88','95','92','91','456','185.50'),('2025-002','87','86','78','88','90','429','164.50'),('2025-003','92','90','96','94','93','465','189.25'),('2025-004','85','82','76','80','78','401','155.00'),('2025-005','94','93','98','96','95','476','193.00'),('2025-006','88','86','94','91','85','533',NULL);
/*!40000 ALTER TABLE `marks_12th` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `physicalverification`
--

DROP TABLE IF EXISTS `physicalverification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `physicalverification` (
  `verificationId` int NOT NULL AUTO_INCREMENT,
  `studentId` varchar(50) DEFAULT NULL,
  `volunteerId` varchar(50) DEFAULT NULL,
  `propertyType` varchar(100) DEFAULT NULL,
  `whatYouSaw` text,
  `comment` text,
  `status` varchar(255) DEFAULT NULL,
  `elementsSummary` text,
  `sentiment` text,
  `verificationDate` date DEFAULT NULL,
  `voice_comments` text,
  `sentiment_text` text,
  `audio_s3_key` varchar(255) DEFAULT NULL COMMENT 'S3 key for audio file (e.g., audio/STU001.wav)',
  PRIMARY KEY (`verificationId`),
  KEY `studentId` (`studentId`),
  KEY `volunteerId` (`volunteerId`),
  KEY `idx_audio_s3_key` (`audio_s3_key`),
  CONSTRAINT `physicalverification_ibfk_1` FOREIGN KEY (`studentId`) REFERENCES `student` (`studentId`) ON DELETE CASCADE,
  CONSTRAINT `physicalverification_ibfk_2` FOREIGN KEY (`volunteerId`) REFERENCES `volunteer` (`volunteerId`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `physicalverification`
--

LOCK TABLES `physicalverification` WRITE;
/*!40000 ALTER TABLE `physicalverification` DISABLE KEYS */;
/*!40000 ALTER TABLE `physicalverification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scholarshipdetails`
--

DROP TABLE IF EXISTS `scholarshipdetails`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scholarshipdetails` (
  `scholarshipId` int NOT NULL AUTO_INCREMENT,
  `studentId` varchar(50) NOT NULL,
  `batch` varchar(20) DEFAULT NULL,
  `college` varchar(200) DEFAULT NULL,
  `branch` varchar(100) DEFAULT NULL,
  `stream` varchar(50) DEFAULT NULL,
  `admissionDate` date DEFAULT NULL,
  `remarks` text,
  `createdAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`scholarshipId`),
  UNIQUE KEY `unique_student` (`studentId`),
  KEY `idx_stream` (`stream`),
  KEY `idx_batch` (`batch`),
  CONSTRAINT `scholarshipdetails_ibfk_1` FOREIGN KEY (`studentId`) REFERENCES `student` (`studentId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scholarshipdetails`
--

LOCK TABLES `scholarshipdetails` WRITE;
/*!40000 ALTER TABLE `scholarshipdetails` DISABLE KEYS */;
INSERT INTO `scholarshipdetails` VALUES (1,'2025-006','2026-2027','Velammal Engineering college','Mechanical','Engineering','2023-05-08','','2025-12-21 23:05:16','2025-12-23 07:27:21'),(2,'2025-002','2027-2028','Dr. MGR Janaki','CA','Arts','2025-05-12','','2025-12-22 15:29:49','2025-12-23 07:37:15');
/*!40000 ALTER TABLE `scholarshipdetails` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `studentId` varchar(50) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `district` varchar(100) DEFAULT NULL,
  `school` varchar(150) DEFAULT NULL,
  `why_matram` text,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(120) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'TV',
  `selected` varchar(10) DEFAULT NULL,
  `income` varchar(50) DEFAULT NULL,
  `father` varchar(100) DEFAULT NULL,
  `mother` varchar(100) DEFAULT NULL,
  `gender` varchar(10) DEFAULT NULL,
  `address` text,
  `virtual_interview_status` varchar(50) DEFAULT NULL,
  `virtual_interview_date` datetime DEFAULT NULL,
  `virtual_interview_remarks` text,
  `physical_interview_status` varchar(50) DEFAULT NULL,
  `physical_interview_date` datetime DEFAULT NULL,
  `physical_interview_remarks` text,
  PRIMARY KEY (`studentId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `studentimages`
--

DROP TABLE IF EXISTS `studentimages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `studentimages` (
  `imageId` int NOT NULL AUTO_INCREMENT,
  `studentId` varchar(50) DEFAULT NULL,
  `tempImage` longblob,
  `uploadedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`imageId`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `studentimages`
--

LOCK TABLES `studentimages` WRITE;
/*!40000 ALTER TABLE `studentimages` DISABLE KEYS */;
/*!40000 ALTER TABLE `studentimages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `televerification`
--

DROP TABLE IF EXISTS `televerification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `televerification` (
  `teleId` int NOT NULL AUTO_INCREMENT,
  `studentId` varchar(50) DEFAULT NULL,
  `volunteerId` varchar(50) DEFAULT NULL,
  `comments` text,
  `status` varchar(50) DEFAULT NULL,
  `verificationDate` date DEFAULT NULL,
  PRIMARY KEY (`teleId`),
  KEY `studentId` (`studentId`),
  KEY `volunteerId` (`volunteerId`),
  CONSTRAINT `televerification_ibfk_1` FOREIGN KEY (`studentId`) REFERENCES `student` (`studentId`) ON DELETE CASCADE,
  CONSTRAINT `televerification_ibfk_2` FOREIGN KEY (`volunteerId`) REFERENCES `volunteer` (`volunteerId`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `televerification`
--

LOCK TABLES `televerification` WRITE;
/*!40000 ALTER TABLE `televerification` DISABLE KEYS */;
/*!40000 ALTER TABLE `televerification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `volunteer`
--

DROP TABLE IF EXISTS `volunteer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `volunteer` (
  `volunteerId` varchar(50) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `passed_out` varchar(20) DEFAULT NULL,
  `college` varchar(150) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `role` varchar(20) DEFAULT 'volunteer',
  PRIMARY KEY (`volunteerId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `volunteer`
--

LOCK TABLES `volunteer` WRITE;
/*!40000 ALTER TABLE `volunteer` DISABLE KEYS */;
/*!40000 ALTER TABLE `volunteer` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-27 12:32:12
